$text-color: #ccc;
$text-danger-color: #a8385d;
$bg-color: #1b1e27;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: cursive;
  font-size: 1.6rem;
  margin: 0;
  position: relative;
}

main {
  height: 100%;
  justify-content: center;

  .chart-container {
    height: 85vh;
    padding-top: 5vh;
    width: 100vw;
  }

  .form-container {
    margin-top: 1rem;
    text-align: center;

    input, button {
      padding: 1rem;
    }
  }

  .chart-col {
    bottom: 0;
    height: 100vh;
    left: 25%;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;

    .chart-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .sidebar {
    overflow-y: auto;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);

    width: 25%;
    height: 100vh;
    position: absolute;
    top:0;
    right: 75%;
    left: 0;
    bottom: 0;

    background: #2f3646;
    color: #fff;
    font-size: .6em;

    h1 {
      color: #fff;
      font-weight: 100;
      text-transform: uppercase;
      display: block;
      margin: 0;
      background: #1f89ff;
      padding: 15px;

      strong {
        font-weight: 700;
      }

      small {
        font-size: .5em;
        line-height: 1.3em;
        color: white;

        &.subtitle {
          display: block;
        }
      }
    }

    input[type=text],
    select {
      width: 100%;
    }

    h3 {
      padding: 0;
      margin: 10px 0 0 0;
      text-transform: uppercase;
      color: #a8b2c7;
      user-select: none;

      a {
        color: #a8b2c7;
        text-decoration: none;
      }
    }

    pre {
      background: #1b1e27;
      font-size: 12px;
      line-height: 1em;
      max-height: 400px;
      overflow: auto;
      padding: 15px;
    }
  }
}

.dark {
  /**
   * Backgrounds
   */
  $color-bg-darkest: #13141b;
  $color-bg-darker: #1b1e27;
  $color-bg-dark: #232837;
  $color-bg-med: #2f3646;
  $color-bg-light: #455066;
  $color-bg-lighter: #5b6882;

  /**
   * Text
   */
  $color-text-dark: #72809b;
  $color-text-med-dark: #919db5;
  $color-text-med: #A0AABE;
  $color-text-med-light: #d9dce1;
  $color-text-light: #f0f1f6;
  $color-text-lighter: #fff;

  background: $color-bg-darker;

  .ngx-charts {

    text {
      fill: $color-text-med;
    }

    .tooltip-anchor {
      fill: rgb(255,255,255);
    }

    .gridline-path {
      stroke: $color-bg-med;
    }

    .refline-path {
      stroke: $color-bg-light;
    }

    .reference-area {
      fill: #fff;
    }

    .grid-panel {
      &.odd {
        rect {
          fill: rgba(255,255,255,0.05);
        }
      }
    }

    .force-directed-graph {
      .edge {
        stroke: $color-bg-light;
      }
    }

    .number-card {
      p {
        color: $color-text-light;
      }
    }

    .gauge {
      .background-arc{
        path {
          fill: $color-bg-med;
        }
      }

      .gauge-tick {
        path {
          stroke: $color-text-med;
        }
        text {
          fill: $color-text-med;
        }
      }
    }

    .linear-gauge {
      .background-bar {
        path {
          fill: $color-bg-med;
        }
      }

      .units {
        fill: $color-text-dark;
      }
    }

    .timeline {
      .brush-background {
        fill: rgba(255,255,255,0.05);
      }

      .brush {
        .selection {
          fill: rgba(255, 255, 255, 0.1);
          stroke: #aaa;
        }
      }
    }

    .polar-chart .polar-chart-background {
      fill: rgb(30, 34, 46);
    }

  }

  .chart-legend {
    .legend-labels {
      background: rgba(255,255,255,0.05) !important;
    }

    .legend-item {
      &:hover {
        color: #fff;
      }
    }

    .legend-label {
      &:hover {
        color: #fff !important;
      }

      .active {
        .legend-label-text {
          color: #fff !important;
        }
      }
    }

    .scale-legend-label {
      color: $color-text-med;
    }
  }

  .advanced-pie-legend {
    color: $color-text-med;

    .legend-item {
      &:hover {
        color: #fff !important;
      }
    }
  }

  .number-card .number-card-label {
    font-size: 0.8em;
    color: $color-text-med;
  }

}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

.tweets {
  animation-duration: .5s;
  animation-name: slideInRight;
  background: rgba(0, 0, 0, .75);
  bottom: 0;
  min-width: 300px;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 30vw;

  .close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.sidemenu {
  animation-duration: .5s;
  animation-name: slideInLeft;
  background: rgba(0, 0, 0, .75);
  bottom: 0;
  left: 0;
  min-width: 300px;
  padding: 2rem;
  position: fixed;
  top: 0;
  width: 30vw;

  .close {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.sidemenu-toggle {
  cursor: pointer;
  left: 0;
  position: fixed;
  top: 2rem;
}

.text-danger {
  color: $text-danger-color;
}

@keyframes slideInRight {
  0% {
    right: -30vw;
  }

  100% {
    right: 0;
  }
}

@keyframes slideInLeft {
  0% {
    left: -30vw;
  }

  100% {
    left: 0;
  }
}
