<main class="container dark" style="height: 100vh">
  <!-- <ul>
    <li *ngFor="let item of list">
      <strong>{{ item.tweet_sent_at }}</strong>
      <span>{{ item.tweet_count }}</span>
    </li>
  </ul> -->

  <div class="chart-container">
    <ngx-charts-bar-vertical-stacked
      class="dark"
      scheme="cool"
      schemeType="ordinal"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      xAxisLabel="Dates"
      yAxisLabel="Tweet count"
      [results]="results"
      showGridLines="false"
      *ngIf="results.length > 0"
      (select)="onSelect($event)"
    ></ngx-charts-bar-vertical-stacked>
  </div>

  <a class="sidemenu-toggle text-danger" (click)="toggleSidemenu($event)">Bilgi</a>
  <div class="sidemenu" [ngStyle]="{'display': isSidemenuActive ? 'block' : 'none'}">
    <a class="close" (click)="isSidemenuActive = false">x</a>

    <p>
      Gördüğünüz grafik, Twitter'da içinde "gözaltına alındı" sözü aynen geçen tweet'lerin sayısını ve bu tweet'lere gelen retweet'lerin sayısını gösterir. Kırmızı çubuklar tweet sayısını, mavi çubuklar ise retweet sayısını gösterir.
    </p>

    <p>
      İstediğiniz bir tarihin üzerine tıklayarak, o gün içinde en çok retweet sayısına ulaşan 5 tweet görülebilir.
    </p>

    <p>
      Bu grafikten gözaltına alınan insan sayısının çıkarılması mümkün değildir. Ancak gözaltına alınan insanların toplumdaki etkisine dair çıkarımlar yapılabilir.
    </p>
  </div>

  <div class="tweets" [ngStyle]="{'display': hotTweets ? 'block' : 'none'}">
    <a class="close" (click)="hotTweets = null">x</a>
    <div *ngFor="let tweet of hotTweets">
      <blockquote class="twitter-tweet" data-lang="en">
        <p lang="tr" dir="ltr">
          {{ tweet.tweet_text }}
        </p>
        <a [href]="'https://twitter.com/statuses/' + tweet.tweet_id" target="_blank">{{ tweet.dateJs | date }}</a>
      </blockquote>
    </div>
  </div>

  <div class="form-container">
    <form #filterForm="ngForm" (submit)="handleFormSubmit()">
      <input type="date" [(ngModel)]="data.startDate" #startDate="ngModel" name="startDate">
      <input type="date" [(ngModel)]="data.endDate" #endDate="ngModel" name="endDate">

      <button type="submit">Bu aralıktakileri göster</button>
    </form>
  </div>
</main>

<router-outlet></router-outlet>
